<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>Document</title>
</head>

<body>

    <div class="bd-layout">
        <div class="container">
            <form action="/user" method="POST" autocomplete="off">
                <div class="title">{{viewTitle}}</div>
                <input type="hidden" name="_id" value="{{user._id}}">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>First Name</label>
                            <input required type="text" class="form-control" placeholder="First name" name="firstName" value="{{user.firstName}}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input required type="text" class="form-control" placeholder="Last name" name="lastName" value="{{user.lastName}}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input required type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com" name="email" value="{{user.email}}">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-info text-center">Submit</button>
                    <button class="btn btn-danger"><a href="/user/list">view list</a></button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>