<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading text-center">{{viewTitle}}</h4>
        <button class="btn btn-secondary"><a href="/user">Insert User</a></button>
        <br>
        <br>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th class="text-center" scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {{#each user}}
                <tr class="text-center">
                    <td>{{recordNumber}}</td>
                    <td>{{firstName}} {{lastName}}</td>
                    <td>{{email}}</td>
                    <td class="text-center">
                        <a href="/user/{{_id}}"><i class="fas fa-edit"></i></a>
                        <a href="/user/delete/{{_id}}"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>

</html>